/* Import URL*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');
/* Set up Website */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    background: #e3faff;
}

ul {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #8b8b8b;
    --primary-color: #7a55c1;
    --second-color: #6d4aae;
    --footer-color: #f7f8fd;

    --survey-card-bg: #f9fafb;
    --border-color: #e5e7eb;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Acronym */
.dFlexAli-center {
    display: flex;
    align-items: center;
}

.dFlexAliJus-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Background css */
.bg-blue {
    background-color: var(--primary-color);
}

.bg-primary {
    background: var(--second-color) !important;
}

.cursor {
    cursor: pointer;
}

/* Padding css */
.pl40 {
    padding-left: 40px !important;
}

/* Text css */
.fz17 {
    font-size: 17px !important;
}

.fz13 {
    font-size: 13px !important;
}

.text-red {
    color: #ed147a !important;
}

.text-light {
    color: #8b8b8b !important;
}

.text-gray {
    color: #e4e5ee !important;
}

.textOne_line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* Button css */
.quizNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 28px;
    height: 30px;
    margin-right: 8px;
    cursor: pointer;
}

.quizNumber.active {
    background: yellow;
    color: red;
    border: 1px solid red;
    font-weight: bold;
}

.btn-red {
    background: #ea2b0f !important;
    color: var(--white-color) !important;
}

.btn-yellow {
    background: #c7f521 !important;
    color: var(--white-color) !important;
}

.btn-white {
    color: var(--black-color) !important;
    text-transform: capitalize !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.btn-white:hover {
    background: #fafafa !important;
}

.btn-green {
    background: #16b858 !important;
    color: var(--white-color) !important;
    text-transform: capitalize !important;
}

.btn-gray {
    background: var(--white-color) !important;
    color: var(--gray-color) !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.btn-gray:hover {
    color: red !important;
}

.btn-primary {
    background: linear-gradient(90.57deg, rgb(62, 101, 254) 0%, rgb(210, 60, 255) 100%) !important;
    color: var(--white-color) !important;
    text-transform: capitalize !important;
    font-weight: 700 !important;
}

.btn-big {
    font-size: 15px !important;
    padding: 8px 30px !important;
}

.btn-small {
    font-size: 12px !important;
    padding: 2px 15px !important;
}

.btn-round {
    border-radius: 30px !important;
}

.btn-sml {
    font-size: 12px !important;
}

.btn-sml svg {
    font-size: 18px !important;
}

.btn-hover:hover {
    opacity: 0.9 !important;
}

/* Paginate */
body.dark .MuiPaginationItem-text {
    color: var(--white-color) !important;
}

body.dark .MuiSvgIcon-root {
    fill: yellow !important;
}

/* Other css */
.section {
    padding: 45px 0;
}

.borderRight {
    border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

body.dark .borderRight {
    border-right: 1px solid #878d9f !important;
}

.close_ {
    position: absolute !important;
    color: var(--black-color) !important;
    top: 10px;
    right: 10px;
    min-width: 40px !important;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
}

.close_ svg {
    font-size: 22px;
}

.paddingHeader {
    padding-top: 193px;
}

@media (min-width: 1300px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1200px;
    }
}

/* Load */
.MuiCircularProgress-root.loader {
    width: 20px !important;
    height: 20px !important;
}

/* Table */
.table-bordered {
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
}

/* Sidebar Range Input start */
.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root {
    width: 200px !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
    padding: 2px !important;
}

.MuiTypography-root {
    font-size: 13px !important;
}

.css-1umw9bq-MuiSvgIcon-root {
    width: 20px !important;
    height: 20px !important;
}

.range-slider {
    height: 4px !important;
}

.range-slider .range-slider__range,
.range-slider .range-slider__thumb {
    background: var(--black-color) !important;
}

.range-slider .range-slider__range {
    height: 4px !important;
}

.range-slider .range-slider__thumb {
    width: 15px !important;
    height: 15px !important;
}
/* Sidebar Range Input end */

/* Quiz Zoom */
.productZoom {
    width: 100%;
    height: 200px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    padding: 0px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.iiz {
    overflow: visible !important;
}

.iiz__hint {
    background: var(--white-color) !important;
    border-radius: 50% !important;
}
/* Quiz Zoom end */

/* Profile start */
.myAccountPage .MuiTab-root {
    font-weight: 600 !important;
}

.myAccountPage .myAccBox {
    padding: 25px;
    background: #fafafa;
    border-radius: 10px;
}

.userImage {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 100%;
    border: 2px solid var(--second-color);
    position: relative;
}

.userImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userImage .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

.userImage .load {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.userImage .load svg {
    font-size: 30px;
    color: var(--white-color);
}

.userImage:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.userImage .overlay svg {
    font-size: 30px;
    color: var(--white-color);
}

.userImage .overlay input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    cursor: pointer;
}

.myAccBox .form-group {
    margin-bottom: 25px;
}

.myAccBox .form-group .MuiOutlinedInput-input {
    background: #f1f1f1 !important;
}

.MuiCircularProgress-root.loader {
    width: 20px !important;
    height: 20px !important;
}
/* Profile end */
