# Root

# Admin FE
/admin_fe/node_modules
/admin_fe/.env

# FE
/client/node_modules
/client/src/firebase.js
/client/.env

# BE
/server/node_modules
/server/.env
/server/uploads

# Open check file ignore success: "Ctrl + ," -> "ignore" -> "Exclude Git Ignore" -> Tick
