# Root

# Admin FE
/admin_fe/node_modules
/admin_fe/.env

# FE
/client/node_modules
/client/.env

# BE
/server/node_modules
/server/.env

# Open check file ignore success: "Ctrl + ," -> "ignore" -> "Exclude Git Ignore" -> Tick