.sidebar {
    & .filterBox {
        margin-bottom: 30px;
    }

    h6 {
        font-weight: 800;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
}

.scroll {
    ul {
        margin-bottom: 0;

        li {
            list-style: none;
            margin-bottom: 0;
            width: 100%;
        }
    }
}
