.titleToken {
    width: 50%;
    padding: 10px;
    background: var(--white-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    font-style: capitalize;
    border: 2px solid #000;
    border-radius: 10px;

    svg {
        color: rgb(255, 0, 0);
        :global(body.dark) & {
            color: rgb(251, 255, 0);
        }
    }

    :global(body.dark) & {
        background-color: #1b2b4d !important;
        border: 2px solid #ffffff !important;
    }
}

.quizList_row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.quizItem {
    width: 253px !important;
}
