.section {
    padding: 45px 0;
}

.detailsInfo {
    border: 2px solid #d0cfcf;
    border-radius: 20px;
    padding: 20px 10px;
    background: #fff;

    :global(body.dark) & {
        border: 2px solid #fff;
        background-color: #dfdfdf;
    }

    h3 {
        :global(body.dark) & {
            color: #000 !important;
        }
    }
}

.detailsPageTabs {
    border-radius: 25px !important;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.customTabs {
    ul {
        li {
            margin-right: 10px !important;

            button {
                padding: 6px 25px !important;
                border: 1px solid rgba(0, 0, 0, 0.2) !important;
                font-size: 14px !important;
                text-transform: capitalize !important;
                border-radius: 30px !important;
                color: var(--black-color) !important;

                :global(body.dark) & {
                    background-color: #e2e2e2;
                }

                &.active {
                    background: #3bb77e !important;
                    color: var(--white-color) !important;
                    border: 2px solid #2cee93 !important;

                    :global(body.dark) & {
                        border: 2px solid #fff !important;
                    }
                }
            }
        }
    }
}

.reviewsCard {
    display: flex;
    align-items: center;
    margin-bottom: 25px !important;

    & .image {
        width: 100px;
    }

    span {
        :global(body.dark) & {
            color: var(--white-color);
        }
    }

    & .rounded-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100px;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 10px;
        }
    }

    & .info {
        width: 85%;

        p {
            font-size: 14px;
            line-height: 23px;
        }
    }
}

.reviewForm {
    h4 {
        font-size: 20px !important;
        font-weight: 700;
        margin-bottom: 15px;
    }

    & .form-group {
        margin-bottom: 25px;

        textarea {
            &.form-control {
                height: 100px;
                padding-top: 10px;
            }
        }

        & .form-control {
            height: 40px;
            font-size: 15px;
            border-radius: 7px !important;
            padding-left: 20px;
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.5) !important;
        }
    }
}

.inputRate {
    :global(body.dark .MuiSvgIcon-root) & {
        fill: var(--white-color) !important;
    }
}

.progressBarBox {
    margin-bottom: 10px;

    span,
    a {
        :global(body.dark) & {
            color: var(--white-color);
        }
    }
}

.progress {
    width: 78% !important;
    height: 22px !important;
    background-color: var(--white-color) !important;
    border-radius: 10px !important;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px !important;
    font-size: 12px !important;
    background: gold !important;
    font-weight: 900 !important;
    color: var(--gray-color) !important;
    border-radius: 10px !important;
}

.imgAvatar {
    margin-top: 5px;
    margin-right: 8px;
    min-width: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.tabQuizItem {
    ul {
        padding-left: 17px;
    }
}

.quizImgBox {
    max-width: 340px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;

    & img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 10px;
    }
}

.modal {
    padding: 25px 10px;
}

.modalBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tabQuizList {
    span,
    li {
        :global(body.dark) & {
            color: #fff !important;
        }
    }
}

.tabContent {
    thead {
        th {
            :global(body.dark) & {
                background-color: #bebebe !important;
            }
        }
    }

    tbody {
        tr {
            td {
                vertical-align: middle;
                :global(body.dark) & {
                    color: #fff !important;
                    background-color: #3e308b !important;
                }
            }
        }
    }
}
